<!doctype html>
<html>
	<head>
		<META http-equiv='Content-type' content="text/html, charset=UTF-8" > 
	</head>
	<body>
   	   <div id="contenedor">
   	   	<header>
   	   	   <h1>Mi Blog</h1>
   	   	   <h2>Blog de Franklin Jiménez en Django</h2>
   	   	</header>   
   	   	<section>
          <article>
              <h3>Titulo del POST</h3>
              <time>fecha</time>
              <p>Contenido de la entrada del blog</p>
          </article> 
        </section>
        <footer>
        	(c)2014 by frank
        </footer>   
      </div>
  	</body>
</html>



